<div [@routerTransition]>    
  <app-page-header [pageTitle]="this.entityName"></app-page-header>

    <div class="jumbotron jumbotron-fluid" *ngIf="!isReadData && !isCreateData">
        <div class="container">      
        <p class="lead">Click RETRIEVE button to load your data.</p>
        <hr class="my-2">      
        <p class="lead">
            <a class="btn btn-primary btn-md" href="javascript:void(0);" role="button" (click)="readData();">Retrieve</a>
        </p>
        </div>
    </div>

    <app-admission-type-read *ngIf="isReadData"
        [entityName]="this.entityName"        
        >  
    </app-admission-type-read>  

    <app-admission-type-create *ngIf="isCreateData"
        [entityName]="this.entityName"
        [isUpdateData]="this.isUpdateData"
        [updateDataId]="this.updateDataId"
        (notifyParent)="getChildNotification($event)">  
    </app-admission-type-create>      
</div>


