
 <div id="all">
  <!-- Top bar-->
  <app-header></app-header>    
  <!-- Top bar end-->    
        
  <section class="bar background-pentagon" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
    <div class="" style="margin: 0px 5px 0px 5px; padding: 0px 5px 0px 5px;">
        <div class="jumbotron" style="margin: 2px 2px 2px 2px; padding: 2px 2px 2px 2px;">
          <router-outlet></router-outlet>
        </div>             
    </div>
  </section>    
     
  <!-- FOOTER -->
  <app-footer></app-footer>
</div>

